<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Usuário</title>
</head>

<section class="content" layout:fragment="conteudo">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-sm-4 text-left">
                    <h2>Cadastro de usuário</h2>
                </div>
                <div class="col-sm-8 text-right">
                    <a th:href="@{/usuarios}" class="btn btn-default waves-effect">
                        <i class="material-icons">add_circle</i>
                        <span>Pesquisar</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body demo-masked-input">
                        <form id="form_validation" method="post" th:action="@{/usuarios/new}"
                              th:object="${usuario}" class="form-main">

                            <div th:replace="fragments/MensagensErroValidacao :: error"></div>
                            <div th:replace="fragments/MensagemSucesso :: alert"></div>
                            <div th:replace="fragments/MensagemErro :: danger"></div>

                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:field="*{version}"/>

                            <h2 class="card-inside-title">Novo usuário</h2>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group form-float">
                                        <div class="form-line"
                                             th:classappend="${#fields.hasErrors('nome')} ? error">
                                            <input class="form-control"
                                                   required=""
                                                   th:field="*{nome}"/>
                                            <label class="form-label">Nome</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-float">
                                        <div class="form-line"
                                             th:classappend="${#fields.hasErrors('cpf')} ? error">
                                            <input class="form-control js-cpf"
                                                   required=""
                                                   th:field="*{cpf}"/>
                                            <label class="form-label">CPF</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-float">
                                        <div class="form-line"
                                             th:classappend="${#fields.hasErrors('telefone')} ? error">
                                            <input class="form-control js-celular"
                                                   required=""
                                                   th:field="*{telefone}"/>
                                            <label class="form-label">Telefone</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line"
                                             th:classappend="${#fields.hasErrors('email')} ? error">
                                            <input class="form-control"
                                                   required=""
                                                   th:field="*{email}"/>
                                            <label class="form-label">E-mail</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line"
                                             th:classappend="${#fields.hasErrors('dataDeNascimento')} ? error">
                                            <input class="datepicker form-control"
                                                   placeholder="Data de nascimento"
                                                   th:field="*{dataDeNascimento}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line"
                                             th:classappend="${#fields.hasErrors('senha')} ? error">
                                            <input class="form-control" type="password"
                                                   required=""
                                                   th:field="*{senha}"/>
                                            <label class="form-label">Senha</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line"
                                             th:classappend="${#fields.hasErrors('confirmeSenha')} ? error">
                                            <input class="form-control" type="password"
                                                   required=""
                                                   th:field="*{confirmeSenha}"/>
                                            <label class="form-label">Confirmar senha</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2 class="card-inside-title">Endereço</h2>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group form-float">
                                        <div class="form-line"
                                             th:classappend="${#fields.hasErrors('endereco')} ? error">
                                            <input class="form-control"
                                                   th:field="*{endereco.endereco}"/>
                                            <label class="form-label">Endereço</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-float">
                                        <div class="form-line"
                                             th:classappend="${#fields.hasErrors('endereco')} ? error">
                                            <input class="form-control"
                                                   th:field="*{endereco.bairro}"/>
                                            <label class="form-label">Bairro</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control"
                                                   th:field="*{endereco.cidade}"/>
                                            <label class="form-label">Cidade</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control"
                                                   th:field="*{endereco.estado}"/>
                                            <label class="form-label">Estado</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control cep-cidade"
                                                   th:field="*{endereco.cep}"/>
                                            <label class="form-label">CEP</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control"
                                                   th:field="*{endereco.complemento}"/>
                                            <label class="form-label">Complemento</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <h2 class="card-inside-title">Grupos</h2>
                                    <div class="demo-checkbox">
                                        <th:block th:each="grupo : ${grupos}">
                                            <input type="checkbox" class="chk-col-deep-purple"
                                                   th:value="${grupo.id}" th:field="*{grupos}"/>

                                            <label th:for="${#ids.prev('grupos')}"
                                                   th:text="${grupo.nome}">Administrador</label>
                                        </th:block>
                                    </div>
                                </div>
                            </div>

                            <button class="btn bg-red waves-effect waves-float">
                                Salvar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="javascript-extra">
    <script th:src="@{/js/pages/forms/basic-form-elements.js}"></script>
    <script>
        $('input[type=hidden][name="_grupos"]').remove();
    </script>
</th:block>

</html>