<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title>Pizzaria</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>

    <!-- Google Fonts
    <!-- Local -->
    <link th:href="@{/css/fonts.googleapis.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/css/icon.css}" rel="stylesheet" type="text/css"/>


    <!-- Google Fonts web -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset;=latin,cyrillic-ext" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Core Css -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet"/>

    <!-- Waves Effect Css -->
    <link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet"/>

    <!-- Animation Css -->
    <link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet"/>

    <!-- Bootstrap Material Datetime Picker Css -->
    <link th:href="@{/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" />

    <link th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link th:href="@{/plugins/morrisjs/morris.css}" rel="stylesheet"/>

    <link th:href="@{/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>

    <!-- Custom Css -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link th:href="@{/css/themes/all-themes.css}" rel="stylesheet"/>

    <!-- Sweetalert Css -->
    <link th:href="@{/plugins/sweetalert/sweetalert.css}" rel="stylesheet" />
</head>

<body class="theme-red">

<!-- Top Bar -->
<div th:replace="layout/fragments/Cabecalho :: cabecalho"></div>
<!-- #Top Bar -->
<div th:replace="layout/fragments/MenuLateral :: menu"></div>
<!-- Conteudo para ser injetado -->
<section layout:fragment="conteudo">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>


</section>

<!-- scripts -->
<!-- Jquery Core Js -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Select Plugin Js -->
<script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

<!-- Slimscroll Plugin Js -->
<script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- Jquery Validation Plugin Css -->
<script th:src="@{/plugins/jquery-validation/jquery.validate.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/plugins/node-waves/waves.js}"></script>

<!-- Moment Plugin Js -->
<script th:src="@{/plugins/momentjs/moment.js}"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script th:src="@{/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>

<!-- Jquery CountTo Plugin Js -->
<script th:src="@{/plugins/jquery-countto/jquery.countTo.js}"></script>

<!-- Morris Plugin Js -->
<script th:src="@{/plugins/raphael/raphael.min.js}"></script>
<script th:src="@{/plugins/morrisjs/morris.js}"></script>

<!-- ChartJs -->
<script th:src="@{/plugins/chartjs/Chart.bundle.js}"></script>

<!-- Flot Charts Plugin Js -->
<!-- <script th:src="@{/plugins/flot-charts/jquery.flot.js}"></script>
<script th:src="@{/plugins/flot-charts/jquery.flot.resize.js}"></script>
<script th:src="@{/plugins/flot-charts/jquery.flot.pie.js}"></script>
<script th:src="@{/plugins/flot-charts/jquery.flot.categories.js}"></script>
<script th:src="@{/plugins/flot-charts/jquery.flot.time.js}"></script>-->

<!-- Sparkline Chart Plugin Js -->
<script th:src="@{/plugins/jquery-sparkline/jquery.sparkline.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/admin.js}"></script>
<script th:src="@{/js/pages/ui/tooltips-popovers.js}"></script>
<script th:src="@{/js/pages/index.js}"></script>

<!-- Numeral -->
<script th:src="@{/plugins/numeral/numeral.min.js}"></script>
<script th:src="@{/plugins/numeral/pt-br.min.js}"></script>

<script th:src="@{/js/pizzaria-main.js}"></script>

<!-- Bootstrap Notify Plugin Js -->
<script th:src="@{/plugins/bootstrap-notify/bootstrap-notify.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/plugins/node-waves/waves.js}"></script>

<!-- SweetAlert Plugin Js -->
<script th:src="@{/plugins/sweetalert/sweetalert.min.js}"></script>

<!-- Demo Js -->
<script th:src="@{/js/demo.js}"></script>

<script th:src="@{/js/pages/forms/form-validation.js}"></script>

<!-- Input Mask Plugin Js -->
<script th:src="@{/plugins/jquery-inputmask/jquery.maskMoney.js}"></script>
<script th:src="@{/plugins/jquery-inputmask/jquery.inputmask.bundle.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/pages/forms/advanced-form-elements.js}"></script>


<th:block layout:fragment="javascript-extra"/>

</body>
</html>