<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Pedido</title>
</head>

<section class="content" layout:fragment="conteudo">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-sm-4 text-left">
                    <h2>Cadastro de pedido</h2>
                </div>
                <div class="col-sm-8 text-right">
                    <a th:href="@{/pedidos}" class="btn btn-default waves-effect">
                        <i class="material-icons">add_circle</i>
                        <span>Pesquisar</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4">
                    <div class="icon">
                        <i class="material-icons col-red">shopping_cart</i>
                    </div>
                    <div class="content">
                        <div class="text">VALOR DOS ITENS</div>
                        <div class="number">R$ 45,00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4">
                    <div class="icon">
                        <i class="material-icons col-indigo">face</i>
                    </div>
                    <div class="content">
                        <div class="text">FRETE</div>
                        <div class="number">R$ 9,00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4">
                    <div class="icon">
                        <i class="material-icons col-purple">bookmark</i>
                    </div>
                    <div class="content">
                        <div class="text">DESCONTO</div>
                        <div class="number">R$ 2,00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4">
                    <div class="icon">
                        <i class="material-icons col-deep-purple">favorite</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL</div>
                        <div class="number">R$ 52,00
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


</html>