<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Pedido</title>

    <link rel="stylesheet" th:href="@{/css/pizzaria.css}">
    <link rel="stylesheet" th:href="@{/plugins/EasyAutocomplete/css/easy-autocomplete.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/EasyAutocomplete/css/easy-autocomplete.themes.min.css}">
</head>

<section class="content" layout:fragment="conteudo">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-sm-4 text-left">
                    <h2>Cadastro de pedido</h2>
                </div>
                <div class="col-sm-8 text-right">
                    <a th:href="@{/mesas}" class="btn btn-default waves-effect">
                        <i class="material-icons">add_circle</i>
                        <span>Mesas</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4">
                    <div class="icon">
                        <i class="material-icons" style="color: #af1456 !important">shopping_cart</i>
                    </div>
                    <div class="content">
                        <div class="text">VALOR DOS PRODUTOS</div>
                        <div class="number">R$ <span class="js-valor-itens-pedido">0,00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4">
                    <div class="icon">
                        <i class="material-icons" style="color: #af1456 !important">shopping_cart</i>
                    </div>
                    <div class="content">
                        <div class="text">VALOR DAS PIZZAS</div>
                        <div class="number">R$ <span class="js-valor-itens-pizzas">0,00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4">
                    <div class="icon">
                        <i class="material-icons" style="color: #af1456 !important">equalizer</i>
                    </div>
                    <div class="content">
                        <div class="text">MESA</div>
                        <div class="number">[[${{pedido.mesa.numero}}]]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4">
                    <div class="icon">
                        <i class="material-icons" style="color: #af1456 !important">attach_money</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL</div>
                        <div class="number">R$ <span class="js-valor-total-itens">0,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <form id="form_validation" class="form-main" method="post"
              th:action="@{/pedidos/new}"
              th:object="${pedido}">

            <div th:replace="fragments/MensagensErroValidacao :: error"></div>
            <div th:replace="fragments/MensagemSucesso :: alert"></div>
            <div th:replace="fragments/MensagemErro :: danger"></div>

            <input type="hidden" id="uuid" th:field="*{uuid}"
                   th:attr="data-valor-total=${valorTotal}"/>

            <input type="hidden" th:field="*{mesa}"/>

            <div class="row clearfix">
                <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="body demo-masked-input">

                        <h2 class="card-inside-title">Dados do pedido</h2>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <textarea class="form-control no-resize"
                                                  rows="4"
                                                  th:field="*{observacao}">

                                            </textarea>
                                        <label class="form-label">Observação</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="body demo-masked-input">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h2 class="card-inside-title">Produtos</h2>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input class="form-control js-sku-nome-produto-input"
                                           placeholder="Pesquise por nome ou SKU"
                                           th:attr="data-url=@{/produtos}"/>
                                </div>
                            </div>

                            <!-- Tabela de itens -->
                            <div class="bw-tabela-produtos js-tabela-produtos-container">
                                <div class="bw-tabela-produtos__vazio">
                                    <i class="glyphicon  glyphicon-shopping-cart" style="color: #af1456 !important"></i>
                                    <span>Você ainda não adicionou nenhum produto.</span>
                                </div>
                            </div>

                            <!-- end tabela itens -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="body demo-masked-input">
                        <div class="col-sm-12">
                            <h2 class="card-inside-title">Pizzas</h2>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input class="form-control js-sabor-tamanho-input"
                                           placeholder="Pesquise por tamanho ou sabor"
                                           th:attr="data-url=@{/pizzas}"/>
                                </div>
                            </div>

                            <!-- Tabela de itens -->
                            <div class="bw-tabela-produtos js-tabela-pizzas-container">
                                <div class="bw-tabela-produtos__vazio">
                                    <i class="glyphicon  glyphicon-shopping-cart" style="color: #af1456 !important"></i>
                                    <span>Você ainda não adicionou nenhuma pizza.</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <button class="btn bg-red waves-effect" style="margin-bottom: 20px">
                    Salvar
                </button>

            </div>

        </form>

    </div>

    <th:block th:replace="hbs/TemplateAutocompleteProduto"></th:block>
    <th:block th:replace="hbs/TemplateAutocompletePizza"></th:block>
</section>

<th:block layout:fragment="javascript-extra">
    <script th:src="@{/plugins/EasyAutocomplete/js/jquery.easy-autocomplete.min.js}"></script>
    <script th:src="@{/js/pedido.autocomplete-itens.js}"></script>
    <script th:src="@{/js/pedido.autocomplete-itens-pizzas.js}"></script>
    <script th:src="@{/js/pedido.tabela-itens.js}"></script>
    <script th:src="@{/js/pedido.tabela-itens-pizzas.js}"></script>
    <script th:src="@{/plugins/handlebars/handlebars.min.js}"></script>
</th:block>

</html>