<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="bw-tabela-item js-tabela-itens-produtos" th:each="item : ${itens}"
     th:attr="data-valor-total-produtos=${{valorTotal}}">
    <div class="bw-tabela-item__coluna  bw-tabela-item__coluna--detalhes">
        <span class="bw-tabela-produto-nome" th:text="${item.produto.descricao}">Vinho</span>
        <span class="label  bg-red" th:text="${item.produto.sku}">AA1112</span>
    </div>

    <div class="bw-tabela-item__coluna  bw-tabela-item__coluna--valores">
        <div class="bw-tabela-produto-valor-pequeno">
            <input type="text" maxlength="3"
                   class="bw-tabela-produto-campo-quantidade js-tabela-produto-quantidade-item"
                   th:attr="data-codigo-produto=${item.produto.id}"
                   th:value="${item.quantidade}"/>
            <span>x R$[[${{item.valorUnitario}}]]</span>
        </div>
        <div class="bw-tabela-produto-valor-grande">R$[[${{item.valorTotal}}]]</div>
        <button type="button" class="btn  btn-danger waves-effect js-excluir-item-produto-btn"
                th:attr="data-codigo-produto=${item.produto.id}">Excluir
        </button>
    </div>

</div>

<div class="bw-tabela-produtos__vazio" th:if="${itens.empty}">
    <i class="glyphicon  glyphicon-shopping-cart col-deep-purple"></i>
    <span>Você ainda não adicionou nenhum produto.</span>
</div>

</html>