<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Títulos</title>
</head>

<section class="content" layout:fragment="conteudo">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-sm-4 text-left">
                    <a th:href="@{/titulos/new}" class="btn btn-default waves-effect">
                        <i class="material-icons">add_circle</i>
                        <span>Nova</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>PESQUISAR</h2>
                    </div>
                    <div class="body">
                        <form id="form_validation" th:object="${titulo}" th:action="@{/titulos}">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control"
                                                   th:field="*{descricao}"/>
                                            <label class="form-label">Descrição</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <select class="form-control show-tick select-categoria"
                                            th:field="*{fornecedor}">
                                        <option value="">-- Fornecedor --</option>
                                        <option th:each="fornecedor : ${fornecedores}"
                                                th:value="${fornecedor.id}"
                                                th:text="${fornecedor.nomeFantasia}">Tamanho
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control show-tick select-categoria"
                                            th:field="*{formaDePagamento}">
                                        <option value="">-- Forma de pagamento --</option>
                                        <option th:each="pagamento : ${formasDePagamento}"
                                                th:value="${pagamento}"
                                                th:text="${pagamento.descricao}">Tamanho
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control show-tick select-categoria"
                                            th:field="*{centroDeCusto}">
                                        <option value="">-- Centro de custo --</option>
                                        <option th:each="centroDeCusto : ${centrosDeCusto}"
                                                th:value="${centroDeCusto}"
                                                th:text="${centroDeCusto.descricao}">Tamanho
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn bg-red waves-effect">Pesquisar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            TÍTULOS
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Descrição</th>
                                    <th>Valor</th>
                                    <th>Valor Pago</th>
                                    <th>Validade</th>
                                    <th>Pagamento</th>
                                    <th>Tipo</th>
                                    <th>F. Pagamento</th>
                                    <th>C. Custo</th>
                                    <th>Fornecedor</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="titulo : ${pagina.conteudo}">
                                    <td th:text="${titulo.id}"></td>
                                    <td th:text="${titulo.descricao}"></td>
                                    <td th:text="|R$ ${{titulo.valor}}|"></td>
                                    <td th:text="|R$ ${{titulo.valorPago}}|"></td>
                                    <td th:text="${{titulo.dataDeValidade}}"></td>
                                    <td th:text="${{titulo.dataDoPagamento}}"></td>
                                    <td th:text="${titulo.tipo.descricao}"></td>
                                    <td th:text="${titulo.formaDePagamento == null ? '' : titulo.formaDePagamento.descricao}"></td>
                                    <td th:text="${titulo.centroDeCusto.descricao}"></td>
                                    <td th:text="${titulo.fornecedor == null ? 'Cliente' : titulo.fornecedor.nomeFantasia}"></td>
                                    <td>
                                        <div class="demo-google-material-icon">
                                            <a class="btn  btn-link  btn-xs bg-green"
                                               data-toggle="tooltip" data-placement="top" title=""
                                               data-original-title="Editar"
                                               th:href="@{titulos/{id}(id=${titulo.id})}">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a class="btn  btn-link  btn-xs bg-red js-exclusao-btn"
                                               data-toggle="tooltip" data-placement="top" title=""
                                               href="#"
                                               th:attr="data-codigo=${titulo.id}
                                               , data-objeto='Título ' + ${titulo.id}
                                               , data-url=@{/titulos/{codigo}(codigo=${titulo.id})}"
                                               data-original-title="Excluir">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" th:if="${pagina.vazia}">Nenhum registro encontrado!</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <div th:replace="/fragments/Paginacao :: Pagination (${pagina})"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->

    </div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/js/pizzaria.dialogo-exclusao.js}"></script>
</th:block>

</html>