.bw-tabela-produtos {
    margin-bottom: 15px;
    text-align: left;
}

.bw-tabela-produtos__vazio {
    padding: 15px 15px;

    border: 1px dashed #ddd;

    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    color: #555;
}


/* Easy Autocomplete */
.easy-autocomplete input {
    border-radius: 2px !important;
}

.easy-autocomplete-container ul li {
    font-size: 1em !important;
    padding: 0px 5px !important;
}

/* Tabela Item */
.bw-tabela-item {
    position: relative; /* Para que o painel de exclusão apareça dentro da linha */

    padding: 15px 0;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.bw-tabela-item:after {
    clear: both;
    display: block;
    content: "";
}

.bw-tabela-item ~ .bw-tabela-item {
    border-top: 1px solid #ddd;
}

.bw-tabela-item__coluna {
    padding: 0 10px;
}

.bw-tabela-item__coluna--foto {
    float: left;
    width: 60px;

    text-align: center;
}

.bw-tabela-item__coluna--valores {
    padding-right: 0px;
}

.bw-tabela-item__coluna--detalhes, .bw-tabela-item__coluna--valores {
    margin-left: 60px;
}

.bw-tabela-produto-nome{
    font-weight: 500;
    font-size: 1.1em;
    display: block;
}

.bw-tabela-produto-categoria {
    color: #aaa;
    display: block;
    font-weight: 200;
}

.bw-tabela-produto-campo-quantidade {
    width: 30px;
    text-align: right;
}

.bw-tabela-produto-valor-pequeno {
    font-weight: 300;
    font-size: 1em;
}

.bw-tabela-produto-valor-medio {
    font-weight: 300;
    font-size: 1.3em;
}

.bw-tabela-produto-valor-grande {
    font-weight: 300;
    font-size: 1.6em;
}

@media (min-width: 768px) { /* screen-sm-min */

    .bw-tabela-item__coluna {
        float: left;
        margin-left: 0px;
    }

    .bw-tabela-item__coluna--detalhes {
        width: calc(70% - 30px);
    }

    .bw-tabela-item__coluna--valores {
        width: calc(30% - 30px);

        text-align: right;
    }
}