<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Fornecedores</title>
</head>

<section class="content" layout:fragment="conteudo">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-sm-4 text-left">
                    <a th:href="@{/fornecedores/new}" class="btn btn-default waves-effect">
                        <i class="material-icons">add_circle</i>
                        <span>Novo</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>PESQUISAR</h2>
                    </div>
                    <div class="body">
                        <form id="form_validation" th:object="${fornecedor}" th:action="@{/fornecedores}">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control"
                                                   th:field="*{nomeFantasia}"/>
                                            <label class="form-label">Nome fantasia</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control"
                                                   th:field="*{razaoSocial}"/>
                                            <label class="form-label">Razão Social</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn bg-red waves-effect">Pesquisar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            FORNECEDORES
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome F</th>
                                    <th>Razão Social</th>
                                    <th>CNPJ</th>
                                    <th>Endereço</th>
                                    <th>Bairro</th>
                                    <th>Cidade</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="fornecedor : ${pagina.conteudo}">
                                    <td th:text="${fornecedor.id}"></td>
                                    <td th:text="${fornecedor.nomeFantasia}"></td>
                                    <td th:text="${fornecedor.razaoSocial}"></td>
                                    <td th:text="${fornecedor.cnpj}"></td>
                                    <td th:text="${fornecedor.endereco.endereco}"></td>
                                    <td th:text="${fornecedor.endereco.bairro}"></td>
                                    <td th:text="${fornecedor.endereco.cidade}"></td>
                                    <td>
                                        <div class="demo-google-material-icon">
                                            <a class="btn  btn-link  btn-xs bg-green"
                                               data-toggle="tooltip" data-placement="top" title=""
                                               data-original-title="Editar"
                                               th:href="@{fornecedores/{id}(id=${fornecedor.id})}">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a class="btn  btn-link  btn-xs bg-red js-exclusao-btn"
                                               data-toggle="tooltip" data-placement="top" title=""
                                               href="#"
                                               th:attr="data-codigo=${fornecedor.id}
                                               , data-objeto='Fornecedor ' + ${fornecedor.nomeFantasia}
                                               , data-url=@{/fornecedores/{codigo}(codigo=${fornecedor.id})}"
                                               data-original-title="Excluir">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" th:if="${pagina.vazia}">Nenhum registro encontrado!</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <div th:replace="/fragments/Paginacao :: Pagination (${pagina})"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->

    </div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/js/pizzaria.dialogo-exclusao.js}"></script>
</th:block>

</html>